
.form{
	display: flex;
	flex-direction: row;
	gap: 25px;
}
	
	.js-button{
		display: flex;
		flex-direction: column;
		width: 100px;
		height: 40px;
		border-radius: 10px;
		text-align: center;
		border-color: pink;
	}

